@page "/reports"
@page "/"
@layout MainLayout

<div>
    <p>Тестовое задание выполнено Шуруновым Андреем.</p>
    <p>С использованием .NET Core 3.1, Blazor и Postgresql</p>
    <p>
        This product includes GeoLite2 data created by MaxMind, available from
        <a href="https://www.maxmind.com">https://www.maxmind.com</a>.
    </p>

</div>

@code {
}
